/* Отключение анимации у тех, кто её отключил */
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
    }
}

/* hover */
@media (hover: hover) and (pointer: fine) {
    details {
        cursor: pointer;
    }
}

:focus-visible {
    outline: aqua 2.5px solid;
}

::selection {
    color: white;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background: #9381FF;
    background: -webkit-linear-gradient(135deg, rgba(147, 129, 255, 1) 0%, rgba(173, 216, 230, 1) 100%);
    background: -moz-linear-gradient(135deg, rgba(147, 129, 255, 1) 0%, rgba(173, 216, 230, 1) 100%);
    background: linear-gradient(135deg, rgba(147, 129, 255, 1) 0%, rgba(173, 216, 230, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9381FF", endColorstr="#ADD8E6", GradientType=0);
}

h1, h2 {
    text-align: center;
}

h1, section, footer {
    background-color: white;
    padding: 0.5em;
    margin: 0.5em 1.25em;
    border-radius: 10px;
}

section, footer {
    font-size: 20px;
}

h2 {
    border-bottom: black solid 2.5px;
}

p, ul, details {
    margin-top: 0.25em;
    font-size: 1.15em;
}

summary {
    text-align: center;
    text-decoration: underline;
    font-size: 1.25em;
}

ul {
    margin-left: 0.75em;
}

#a {
    font-size: 1em;
    text-align: center;
    font-style: italic;
}